@import "config";

.footer {
    height: $footerHeight;
    width: 100vw;
    background-color: $joy-pink;
    position: fixed;
    bottom: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px -2px 8px 0px;

    .portal {
        color: $joy-pink;
    }

    .portal:hover {
        color: white;
    }
}