@import "config";

$navHeight: 3rem;

.navbar {
    background-color: $joy-pink;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: $navHeight;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    top: 0;

    ul {
        position: relative;
        display: flex;

        li {
            position: relative;
            margin-left: 0.75rem;
            margin-right: 0.75rem;

            a {
                position: relative;
                height: $navHeight;
                width: 10rem;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 2rem;
                    color: white;
                    transition: 0.5s;
                }

                p {
                    font-size: 2rem;
                    color: white;
                    transition: 0.5s;
                    padding-left: 0.5rem;
                }

            }

            img {
                position: relative;
                height: $navHeight;  
            }
        }

        li.active a {
            background-color: white;

            i {
                color: $joy-pink;
            }

            p {
                color: $joy-pink;
            }
        }

    }
}