@import "config";

.product-tab {
    padding: 2rem;
    display: flex;

    .service-image {
        border-radius: 0.5rem;
        min-width: 15rem;
        max-height: 10rem;
        object-fit: cover;
        float: left;
        overflow: clip;

        img {
            width: 100%;
        }
    }

    .info {
        padding-left: 2rem;

        h2 {
            font-family: $font-standard;
            text-transform: uppercase;
        }

        p {
            font-family: $font-standard;
            font-weight: $weight-standard;
            padding-top: 1rem;
        }
    }
}